#body {
    font-family: Helvetica;
    color: black;
}

#header {
    padding-top:5px;
    width: 100%;
    background-color: navy;
    font-family: Helvetica;
    color: white;
    float: center;
}


#map {
    width: 50%;
    height: 550px;
    float: left;
}

#inputform {
    padding-top:5px;
    width: 40%;
    float: right;
    height: 500px;;
    color: #111;
}

#clear {
    clear: black;
}
a {
    color: black;
}
