@import url(https://fonts.googleapis.com/css?family=Raleway);

html *
{
   font-family: "Raleway" !important;
}

#body {
    font-family: "Raleway";
    color: black;
}

#header {
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    width: 100%;
    background-color: navy;
    font-family: "Raleway";
    color: white;
    float: center;
}

#map {
    width: 50%;
    height: 600px;
    float: left;
}

#inputform {
    font-family: "Raleway"
    padding-top:5px;
    width: 40%;
    float: right;
    height: 500px;;
    color: #111;
}

.incidents, .incidents svg {
  position: absolute;
}

.incidents svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.incidents circle {
  stroke: black;
  stroke-width: 1px;
}

